<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GIF Blog</title>
</head>
<body>
	<h3><%= @post.title %></h3>
	<%= image_tag(@post.gif_url) %>


	<p><strong>Votes:</strong> <%= @post.votes %></p>

	<p><form action="/posts/<%= @post.id%>/upvote" method="POST">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<button type="submit">Upvote</button>
	</form></p>

	<p><form action="/posts/<%= @post.id%>/downvote" method="POST">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<button type="submit">Downvote</button>
	</form></p>
	
	<p><%= link_to "home", "/" %></p>
	<p><%= link_to "back to all", posts_path %></p>
	<p><%= link_to "new post", new_post_path %></p>
</body>
</html>