<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
	<h1><%= @project.name %></h1>

	<ul>
		<% @time_entries.each do |time_entry| %>
			<li>
				Hours: 
				<%= time_entry.hours %>, 
				Minutes: 
				<%= time_entry.minutes %>
				Date: 
				<%= time_entry.date %>
				<%= link_to("Edit Time Entry", edit_project_time_entry_path(@project, time_entry)) %>
				<%= link_to('Delete', project_time_entry_path(@project, time_entry), method: :delete, data: {confirm: 'Are you sure?'}) %>
			</li>
		<% end %>
	</ul>
	<ul>
		<%= link_to("Projects", projects_path) %>
		<%= link_to("Create new entry", new_project_time_entry_path(@project)) %>

	</ul>
</body>
</html>
